<h2><%= @show.name %> - Images</h2>

<% unless @images.empty? %>
  <ul class="images">
    <% for image in @images %>
      <li>
        <%= image_tag image.public_filename(:thumb) %>
        <%= h image.title %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= will_paginate @images %>

<div class="actions">
  <%= link_to "Ajouter une nouvelle image", :controller => "image", :action => "create", :show => @show %>
</div>
