<div id="sidebar">
  <h2>Ecoutez</h2>

  <div>
    <a href="http://stream.tryphon.org/live.ogg.m3u" title="Ecoutez Radio RMLL 2010 en direct">
      <img src="{{theme.url_for_assets}}/media/listen.png"/> 
    </a>
    
    <p>
      Ecoutez en 
      <a href="http://stream.tryphon.org/live.ogg.m3u" title="Ecoutez Radio RMLL 2010 en Ogg">Ogg</a> 
      ou en 
      <a href="http://stream.tryphon.org/live.mp3.m3u" title="Ecoutez Radio RMLL 2010 en MP3">MP3</a>
    </p>
  </div>

  <h2>Balado Réception</h2>
  <p>
    <a href="{{ show.url_for_podcast }}" title="Abonnez-vous au podcast de Radio RMLL 2010">
      <img src="{{theme.url_for_assets}}/media/podcast.png"/> 
    </a>
  </p>

  <h2>Mots-clés</h2>

  <ul>
    {% for tag in show.tags limit:15 %}
    {% case tag.name %}
    {% when 'mardi' %}
    {% when 'mercredi' %}
    {% when 'jeudi' %}
    {% when 'vendredi' %}
    {% when 'samedi' %}
    {% when 'dimanche' %}
    {% else %}
    <li><a href="/tags/{{tag.name}}">{{ tag.name }}</a></li>
    {% endcase %}
    {% endfor %}
  </ul>

  <h2>Radios partenaires</h2>

  <ul>
    <li><a href="http://www.canalb.fr">Canal B</a></li>
    <li><a href="http://www.divergence-fm.org/">Divergence FM</a></li>
    <li><a href="http://www.o2radio.net/">O2 Radio</a></li>
    <li><a href="http://www.radiopanik.org">Radio Panik</a></li>
    <li><a href="http://www.radiolarzac.org">Radio Larzac</a></li>
    <li><a href="http://www.oxyradio.net">Oxy.Radio</a></li>
    <li><a href="http://www.autres-mondes.org/">Autres(M)Ondes</a></li>
  </ul>

  <h2>Archives</h2>

  <ul>
    <li><a href="http://radio.2009.rmll.info">2009</a></li>
  </ul>
</div>
