<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
 <head>
  <title>Radio - 11es RMLL à Nantes du 6 au 11 juillet 2010</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/screen.css" media="screen" />
  <link rel="alternate" type="application/rss+xml" title="{{show.name}}" href="{{ show.url_for_podcast }}" />
  {{theme.javascript_include_tag}}
 </head>
 <body class="show">
   <div id="page" class="deuxcolonnes">
     {% include 'rmll2010/header' %}

     <div id="content">
     
       {% include 'rmll2010/sidebar' %}
    
       <div id="location">
         {% include 'rmll2010/location' %} }
       </div>

       <h2>Radio RMLL du 6 au 11 juillet 2010</h2>
       {{ show.description | textilize }}

       {% for post in show.posts limit:1 %}
       <h2>{{ post.title }}</h2>
       {{ post.description | textilize }}
       {% endfor %}

       <h2>Vos émissions préférées</h2>

       {% for episode in show.popular_episodes limit:5 %}
       <h3>{{ episode.title }}</h3>
       <a href="{{episode.url_for}}" rel="bookmark" title="{{episode.title}}">
         &#8594; {{episode.broadcasted_at | prettydate }}, lire et écouter la suite &#8250;
       </a>
       <p>
         {{ episode.description | textilize | strip_tags | truncate: 400 }}
       </p>
       <div class="vote">Note des auditeurs : {{ episode.rating_avg | integer }} sur 5 - {{ episode.rating_count }} votes</div>
       {% endfor %}

       <div id="programme">
         {% include 'rmll2010/program' %}
       </div>

     </div>
     
     {% include 'rmll2010/footer' %}
   </div>
 </body>
</html>
