<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <title>Ecouter {{content.episode.title}} - Bonnes Ondes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="{{theme.url_for_assets}}/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="Podcast de {{content.episode.show.name}}" href="{{content.episode.show.url_for_podcast}}"/>
  </head>

  <body class="content">
    <div id="all" class="condensed">
      <div id="header">
        <div class="left border"></div>
        <div class="right border"></div>
        <h1>Ecouter {{content.episode.show.name}}</h1>
      </div>

      <div id="view">
        <div class="left border"></div>
        <div class="right border"></div>

        <div id="page">
          <div class="description">
            <p>
              {{content.episode.image.tag_for_thumb}}
              {{content.episode.description | textilize | strip_tags | truncate :200}}
            </p>

            {{content.name}}
            {% if content.has_duration? %}
              - durée : {{content.duration}} minutes
            {% endif %}
          </div>

          {{content.embedded_player}}<br/>
          <a href="{{content.url_for_playlist}}">Ecouter sur votre ordinateur</a>

          <div id="links">
            <a href="javascript:window.close();">Fermer</a>
          </div>
        </div>
      </div>

      <div id="footer">
        <div class="left border"></div>
        <div class="right border"></div>

        <p>

        </p>
      </div>
    </div>
  </div>
 </body>
</html>
