<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <title>{{episode.show.name}} - Bonnes Ondes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="{{theme.url_for_assets}}/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="Podcast de {{episode.show.name}}" href="{{episode.show.url_for_podcast}}"/>
  </head>

  <body class="show">
    <div id="all" class="normal">
    <div id="header">
      <div class="left border"></div>
      <div class="right border"></div>
      <h1>{{episode.show.name}} - {{episode.title}}</h1>
    </div>

    <div id="view">
      <div class="left border"></div>
      <div class="right border"></div>

      <div id="page">
        <div class="description">
          {{episode.image.tag}}
          {{episode.description | textilize}}
        </div>

        <div class="date">
          Date de diffusion : {{episode.broadcasted_at | date: 'le %d/%m/%Y à %H:%M'}}
        </div>

        {% unless episode.tags == empty %}
         <div class="tags">
          Mots-clés :
           {% for tag in episode.tags %}
            <a href="/tags/{{tag}}" rel="tag">{{tag}}</a>{% unless forloop.last %},{% endunless %}
           {% endfor %}
         </div>
        {% endunless %}

        {% unless episode.contents == empty %}
          <h2>Ecouter</h2>
          <ul class="contents">
            {% for content in episode.contents %}
              {% if episode.contents.size == 1 %}
                {% assign title = episode.title %}
              {% else %}
                {% assign title = content.name %}
              {% endif %}

              <li>
                <a href="{{content.url_for}}" onclick="window.open(this.href,'bonnes-ondes-ecouter','height=300,width=900');return false;" title="Ecouter {{title}}">
                  <img src="{{theme.url_for_assets}}/images/ecouter.png"/>
                </a>

                <a class="content_description" href="{{content.url_for}}" title="" onclick="window.open(this.href,'bonnes-ondes-ecouter','height=300,width=900');return false;" title="Ecouter {{title}}">
                  {{ title }}
                  <br/>

                  {% if content.has_duration? %}
                    <span class="info">Durée: {{content.duration}} minutes</span>
                  {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endunless %}

        <div id="links">
          Retour à <a href="{{episode.show.url_for}}">{{episode.show.name}}</a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="left border"></div>
      <div class="right border"></div>

      <p>
        {{theme.admin_link_tag}}
      </p>
    </div>
  </div>
 </body>
</html>
