<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <title>{{show.name}} - Bonnes Ondes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="{{theme.url_for_assets}}/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body class="show">
    <div id="all" class="normal">
    <div id="header">
      <div class="left border"></div>
      <div class="right border"></div>
      <h1>{{show.name}}</h1>
    </div>

    <div id="view">
      <div class="left border"></div>
      <div class="right border"></div>

      <div id="page">
        <div class="description">
          {{show.logo.tag}}
          {{show.description | textilize}}
        </div>

        <h2>Tous les épisodes</h2>

        <ul>
          {% for episode in show.episodes %}
            <li><a href="{{episode.url_for}}">{{episode.title}}</a></li>
          {% endfor %}
        </ul>

        <h2>Abonnez-vous</h2>

        <ul>
          <li>Podcast : <a href="{{show.url_for_podcast}}">RSS</a></li>
        </ul>

      </div>
    </div>
    <div id="footer">
      <div class="left border"></div>
      <div class="right border"></div>

      <p>
        {{theme.admin_link_tag}}
      </p>
    </div>
  </div>
 </body>
</html>
