<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
 <head>
  <title>{{ show.name }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/screen.css" media="screen" />
  <link rel="alternate" type="application/rss+xml" title="{{show.name}}" href="{{ show.url_for_podcast }}" />
 </head>

 <body>
   <a id="logo" href="http://www.leszindemscafe.com/"><img src="{{theme.url_for_assets}}/media/les-zindems-cafe.jpg"/></a>
   <div id="page">
     <h1>Z'Indems Radio</h1>

     <div id="content">
       <img src="{{theme.url_for_assets}}/media/festival-les-zindems-cafe.png"/>
       {{ show.description | textilize }}
       
       <h3>Abonnez-vous au podcast</h3>

       <p>
         Vous pouvez retrouver en podcast plus de 7 heures de programme :
       </p>

       <div class="podcast">
         Adresse du podcast :<br/>
         <input size="{{show.url_for_podcast | size}}" value="{{show.url_for_podcast}}" type="text" readonly="true"/> 
         <p class="links">
           <a href="{{show.itpc_url_for_podcast}}" title="Ajouter ce podcast dans votre iTunes">iTunes</a> | <a href="{{show.url_for_podcast}}" title="Voir le feed RSS">RSS</a> | <a href="http://wiki.tryphon.org/comment_lire_un_podcast" title="Comment lire un podcast ?">Aide</a> 
         </p>
       </div>
     </div>

     {% include 'zindems/sidebar' %}
   </div>
 </body>
</html>
