<h2>Le programme</h2>
<div class="day" id="thursday">
 <h3>Jeudi</h3>
 <ul>
  {% for episode in show.tags.jeudi reversed %}
    <li><span class="dtstart">{{ episode.broadcasted_at|date:'%H:%M' }}</span> <a href="{{episode.url_for}}">{{episode.title}}</a></li>
  {% endfor %}
 </ul>
</div>
<div class="day" id="friday">
 <h3>Vendredi</h3>
 <ul>
  {% for episode in show.tags.vendredi reversed %}
    <li><span class="dtstart">{{ episode.broadcasted_at|date:'%H:%M' }}</span> <a href="{{episode.url_for}}">{{episode.title}}</a></li>
  {% endfor %}
 </ul>
</div>
<div class="day" id="saturday">
 <h3>Samedi</h3>
 <ul>
  {% for episode in show.tags.samedi reversed %}
    <li><span class="dtstart">{{ episode.broadcasted_at|date:'%H:%M' }}</span> <a href="{{episode.url_for}}">{{episode.title}}</a></li>
  {% endfor %}
 </ul>
</div>
<div class="day" id="sunday">
 <h3>Dimanche</h3>
 <ul>
  {% for episode in show.tags.dimanche reversed %}
    <li><span class="dtstart">{{ episode.broadcasted_at|date:'%H:%M' }}</span> <a href="{{episode.url_for}}">{{episode.title}}</a></li>
  {% endfor %}
 </ul>
</div>
