<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
 <head>
  <title>Esperanzah! 2008 - Radio - {{episode.title}}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/screen.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/print.css" media="print"/>
  <link rel="alternate" type="application/rss+xml" title="{{episde.show.name}}" href="{{show.url_for_podcast}}"/>
 </head>
 <body>
  <div id="page">
   <div id="header" onclick="javascript:document.location = 'http://www.esperanzah.be';">
    <h1>Radio Esperanzah! 2008</h1>
    <form action="http://www.esperanzah.be/index.php?option=com_content&task=view&id=120" method="post">
     <input type="text" value="Votre email" name="AdresseEmail" size="20" />
     <input type="submit" value="S'incrire" />
    </form>
   </div>
   <hr/>
   <div id="sidebar">
    <h2>Les dernières émissions</h2>
    <ul>
     <li>
      <a href=""></a>
     </li>
    </ul>
    <div id="podcast"><a href="" title="Radio Esperanzah! Podcast">Podcast</a></div>
    <div id="listen"><a href="" title="Radio Esperanzah! Direct">Ecoutez</a></div>
    <h2>Les radios partenaires</h2>
    <ul>
     <li><a href="http://radiocampus.ulb.ac.be/" title="Radio Campus Bruxelles">Radio Campus Bruxelles</a></li>
     <li><a href="http://www.48fm.ulg.ac.be/" title="48FM">48FM</a></li>
     <li><a href="http://www.radiopanik.org/" title="Radio Panik">Radio Panik</a></li>
     <li><a href="http://run.fundp.ac.be/" title="Radio Universitaire Namuroise">Radio Universitaire Namuroise</a></li>
     <li><a href="http://www.100komma7.lu/" title="Radio 100.7 Luxembourg">Radio 100.7 Luxembourg</a></li>
     <li><a href="http://www.radiochango.com/" title="Radio Chango">Radio Chango</a></li>
     <li><a href="http://www.autres-mondes.org/" title="Autres (M) Ondes">Autres (M) Ondes</a></li>
    </ul>
   </div>
   <hr/>
   <div id="content" class="hfeed">
    <p class="program"><a href="#footer" onclick="Effect.ScrollTo('footer'); return false;">Le programme &#8595;</a>
    <div class="hentry entry" id="post-1">
     <h3 class="entry-title">{{episode.title}}</h3>
     <div class="post-info">
      <a href="#" class="published" rel="bookmark" title="{{episode.title}}">
       &#8594; {{episode.broadcasted_at | prettydate }}
      </a>
     </div>
     <div class="entry-content">
      {{episode.image.tag}}
      {{episode.description | textilize}}
     </div>
    </div>
    <div id="listen">
	 <h3>Ecoutez</h3>
	 {% for content in episode.contents %}
	  <div class="audio" id="audio-{{forloop.index}}">
	   <h4><a href="{{content.url_for}}" onclick="window.open('{{content.url_for}}','bonnes-ondes-{{content.id}}','height=300,width=800');return false;">{{content.name}}</a><h4>
	   {% if content.duration %}
        <p class="duration">{{content.duration}} minutes</p>
       {% endif %}
	  </div>
	  {% endfor %}
	 </div>
    </div>
    <hr/>
    <div id="footer">
     <h2>Le programme</h2>
     <div class="day" id="friday">
      <h3>Vendredi</h3>
      <ul>
       <li><a href=""></a></li>
      </ul>
     </div>
     <div class="day" id="saturday">
      <h3>Samedi</h3>
      <ul>
       <li><a href=""></a></li>
      </ul>
     </div>
     <div class="day" id="sunday">
      <h3>Dimanche</h3>
      <ul>
       <li><a href=""></a></li>
      </ul>
     </div>
    </div>
   </div>
   <script src="{{theme.url_for_assets}}/prototype.min.js" type="text/javascript"></script>
   <script src="{{theme.url_for_assets}}/effects.min.js" type="text/javascript"></script>
  </div>
 </body>
</html>
