<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
 <head>
  <title>Esperanzah! 2008 - Radio</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/screen.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/print.css" media="print"/>

  <link rel="alternate" type="application/rss+xml" title="{{show.name}}" href="{{show.url_for_podcast}}"/>
 </head>
 <body>
  <div id="page">
   <div id="header" onclick="javascript:document.location = 'http://www.esperanzah.be';">
    <h1>Radio Esperanzah! 2008</h1>
    <form action="http://www.esperanzah.be/index.php?option=com_content&task=view&id=120" method="post">
     <input type="text" value="Votre email" name="AdresseEmail" size="20" />
     <input type="submit" value="S'incrire" />
    </form>
   </div>
   <div id="sidebar">
    <h2>Les dernières émissions</h2>
    <ul>
     <li>
      <a href="http://radio.esperanzah.be">Balimurphy, première partie</a>
     </li>
     <li>
      <a href="http://radio.esperanzah.be">Zita Swoon, interview en concert</a>
     </li>
    </ul>
    <div id="podcast"><a href="http://feeds.feedburner.com/radio-esperanzah" title="Radio Esperanzah!, le Podcast">Podcast</a></div>
    <h2>Les radios partenaires</h2>
    <ul>
     <li><a href="http://radiocampus.ulb.ac.be/" title="Radio Campus Bruxelles">Radio Campus Bruxelles</a></li>
     <li><a href="http://www.48fm.ulg.ac.be/" title="48FM">48FM</a></li>
     <li><a href="http://www.radiopanik.org/" title="Radio Panik">Radio Panik</a></li>
     <li><a href="http://run.fundp.ac.be/" title="Radio Universitaire Namuroise">Radio Universitaire Namuroise</a></li>
     <li><a href="http://www.100komma7.lu/" title="Radio 100.7 Luxembourg">Radio 100.7 Luxembourg</a></li>
     <li><a href="http://www.radiochango.com/" title="Radio Chango">Radio Chango</a></li>
     <li><a href="http://www.autres-mondes.org/" title="Autres (M) Ondes">Autres (M) Ondes</a></li>
    </ul>
   </div>
   <div id="content" class="hfeed">

    <!-- TODO
    {{show.logo.tag}}
    {{show.description | textilize}}
    -->

    {% for episode in show.episodes %}
      <div class="hentry entry" id="post-{{forloop.index}}">
       <h3 class="entry-title">{{episode.title}}</h3>
       <div class="post-info">
        <a href="{{episode.url_for}}" class="published" rel="bookmark" title="{{episode.title}}">
         &#8594; {{episode.broadcasted_at | prettydate }}, lire et écouter la suite &#8250;
        </a>
       </div>
       <div class="entry-content">
        <p>
          {{episode.description | textilize | truncate: 120}}
        </p>
       </div>
      </div>
    {% endfor %}
   </div>
  </div>
 </body>
</html>
