<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
 <head>
  <title>Esperanzah! 2008 - Radio</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/screen.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/print.css" media="print"/>
  <link rel="alternate" type="application/rss+xml" title="{{show.name}}" href="{{show.url_for_podcast}}"/>
 </head>
 <body>
  <div id="page">
   <div id="header" onclick="document.location = 'http://www.esperanzah.be';">
    <h1>Radio Esperanzah! 2008</h1>
    <form action="http://www.esperanzah.be/index.php?option=com_content&task=view&id=120" method="post">
     <input type="text" value="Votre email" name="AdresseEmail" size="20" />
     <input type="submit" value="S'incrire" />
    </form>
   </div>
   <hr/>
   <div id="sidebar">
    {% include 're2008/sidebar' %}
   </div>
   <hr/>
   <div id="content" class="hfeed">
    <p class="program"><a href="#footer" onclick="Effect.ScrollTo('footer'); return false;">Le programme &#8595;</a>
    <!-- TODO
    {{show.logo.tag}}
    {{show.description | textilize}}
    -->

    {% for episode in show.broadcasted_episodes limit:5 %}
      <div class="hentry entry" id="post-{{forloop.index}}">
       <h3 class="entry-title">{{episode.title}}</h3>
       <div class="post-info">
        <a href="{{episode.url_for}}" class="published" rel="bookmark" title="{{episode.title}}">
         &#8594; {{episode.broadcasted_at | prettydate }}, lire et écouter la suite &#8250;
        </a>
       </div>
       <div class="entry-content">
        <p>
          {{episode.description | textilize | truncate: 400}}
        </p>
       </div>
      </div>
    {% endfor %}
   </div>
   <hr/>
   <div id="footer">
    {% include 're2008/programme' %}
   </div>
  </div>
  {% include 're2008/javascripts' %}
 </body>
</html>
