<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <title>{{content.episode.show.name}} - {{content.episode.title}} - Bonnes Ondes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <h1>{{content.episode.title}}</h1>

    <p>
      Ecouter {{content.name}} :<br/>

      {{content.embedded_player}}
    </p>

    </p>

    <p>
      Retour à <a href="{{content.episode.url_for}}">{{content.episode.title}}</a>
    </p>

    <p>
      Hébergé par <a href="http://www.bonnes-ondes.fr">Bonnes Ondes</a>
    </p>
 </body>
</html>
