<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
  <head>
    <title>{{episode.show.name}} - {{episode.title}} - Bonnes Ondes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <h1>{{episode.title}}</h1>

    <p>
      {{episode.description | textilize}}
    </p>

    <h2>Ecouter</h2>
    <ul>
      {% for content in episode.contents %}
        <li><a href="{{content.url_for}}">{{content.name}}</a></li>
      {% endfor %}
    </ul>

    <p>
      Retour à <a href="{{episode.show.url_for}}">{{episode.show.name}}</a>
    </p>

    <p>
      Hébergé par <a href="http://www.bonnes-ondes.fr">Bonnes Ondes</a>
    </p>
 </body>
</html>
