<h2><%= @post.show.name %> - <%= @post.title %></h2>
<div class="description">
<%= textilize(@post.description) %>
</div>

<div class="actions">
<%= link_to("Modifier", edit_admin_show_post_path(@post.show, @post), :class => "edit") %>
<%= link_to("Supprimer", admin_show_post_path(@post.show, @post), :method => "delete", :confirm => "Etes-vous sûr de vouloir définitivement supprimer cette information ?", :class => "destroy") %>
</div>
