<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
 <head>
  <title>La Musique Assiégée - Chroniques</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/screen.css" media="screen">
  <link rel="stylesheet" type="text/css" href="{{theme.url_for_assets}}/css/print.css" media="print">
  <link rel="alternate" type="application/rss+xml" title="{{show.name}}" href="{{show.url_for_podcast}}">
 </head>
 <body>
  <div id="page">
    <div id="header" onclick="document.location = 'http://www.esperanzah.be';">
      <h1>La Musique Assiégée - Chroniques</h1>
    </div>
   <hr/>
    {% include 'jouerjuste/menu' %}
   <hr/>
   <div id="frame">
     <div id="sidebar">
       {% include 'jouerjuste/sidebar' %}
     </div>

     <div id="content">
      <h2>Chroniques</h2>

      {% for episode in show.episodes %}
        <div class="hentry entry" id="post-{{forloop.index}}">
         <h3 class="entry-title">{{episode.title}}</h3>
         <div class="post-info">
          <a href="{{episode.url_for}}" class="published" rel="bookmark" title="{{episode.title}}">
           &#8594; lire et écouter la suite &#8250;
          </a>
         </div>
         <div class="entry-content">
          {{episode.description | textilize | strip_tags | truncate: 300}}
         </div>
        </div>
      {% endfor %}

     </div>
    </div>
  </div>
 </body>
</html>
